<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <br />
    <h2>Hello {{user.username}}!</h2>
    <p>This is my completed Assignment for WEB322.</p>
    <p>Feel free to navigate this page using the navigation bar above.</p>
    <ul>
      <li>Use the <strong>'Students'</strong> tab to view all students.</li>
      <li>Use the
        <strong>'Add Students'</strong>
        tab to add a student to the database.</li>
      <li>Use the <strong>'Courses'</strong> tab to view all courses.</li>
      <li>Use the
        <strong>'Add Courses'</strong>
        tab to add a course to the database.</li>
    </ul>
    <a href="/logout">Logout</a>
  </body>
</html>